[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
brotlipy = "==0.7.0"
pytest = "*"
scrapy = "==1.8.0"
scrapy-rotating-proxies = "==0.6.2"
pillow = "==7.0.0"
awscli-local = "==0.5"
txmongo = "==19.2"
boto3 = "==1.11.9"
requests-mock = "==1.7.0"
requests = "==2.22.0"
pytest-datadir = "==1.3.1"

[requires]
python_version = "3.6"
